/* general styles */
:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #88888a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--white);
    /*  background-image: url("../images/Boxes.jpeg"); this was annoying to look at */
    background-attachment: scroll;
}

/* style affecting header */
header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--grey);
    color: var(--black);
}

/* style the h1 of header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*
header nav {
    margin-bottom: 10px;
    padding-top: -50px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}
*/
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--black);
    text-decoration: none;
}

p {
    font-size: 20px;
}

.profile {
    height: 200px;
    width: 120px;
    margin: 25px;
    background-size: contain;
    background-image: url("../images/Professional-Photo.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: 75%;

}

.background {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Boy-Asleep.jpeg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
}


.content {
    width: 75%;
    display: contents;
    margin-left: 20px;
    column-count: 3;
}

.engineering-projects {
    margin-bottom: 25px;
    padding: 70px;
    height: 450px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--grey);
    color: var(--white);
}

.fine-art-projects,
.contact-me,
.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--grey);
    color: var(--white);
}

.engineering-projects img,
.fine-art-projects img,
.contact-me img,
.about-me img {
    max-height: 200px;
}

/* keeps image in section to the left */
.SEO-img {
    float: left;
    margin-right: 25px;
}

.engineering-projects h2,
.fine-art-projects h2,
.contact-me h2,
.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* keeps image in section to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* side menu, not sure if necessary to keep yet 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--black);
}
*/

/* side menu items, not sure if necessary to keep yet
.benefit-common {
    margin-bottom: 32px;
    color: var(--white);
}

.benefit-common h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-common img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    list-style: none;
}